*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #111111;
}

.container{
    background-color: rgba(21, 42, 93, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 22vh auto 0;
    padding: 5%;
    width: 25%;
    height: 60vh;
}

.input input{
    background-color: white;
}

.allButtons button{
    background-color: white;
}