*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #111111;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 22vh auto 0;
    height: 50vh;
}

.input input{
    background-color: white;
}

.allButtons button{
    background-color: white;
}