*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #111111;
}

.container{
    background-color: #152A5D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25vh auto 0;
    padding: 5%;
    width: 50%;
}

.input input{
    background-color: white;
}

.allButtons button{
    background-color: white;
}