*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    background: linear-gradient(to right, #CBCE91FF, #EA738DFF);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 5px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 3rem;
    border-radius: 10px;
    outline: none;
    background-color: rbga(255, 255, 255, 0.75);
  }

.calculator-grid > button:hover {
    background-color: gray
}