*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #111111;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 310px;
    margin-bottom: 10px;
  }
  
.input input{
    background-color: black;
    width: 100%;
    height: 90px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #4e0066;
  }

.allButtons button{
    background-color: rgba(163, 163, 194, 0.9);
    font-weight: bold;
    margin: 2px;
    padding: 10px;
    width: 71.5px;
    height: 71.5px;
    font-size: 15px;
    border-radius: 6px;
    border: 4px solid  #330066
}

#spanTwo{
    width: 151px;
}