*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body{
    background: linear-gradient(to right, #4568dc , #b06ab3);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  min-height: 100vh;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows:repeat(5, 100px);
  gap: 10px;
}

button.transparent {
  background-color: transparent;
  border: none;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 3.5rem;
    border-radius: 10px;
  }

.calculator-grid > button:hover {
    background-color: lightcyan;
}

.calculator-grid > button:active {
    background-color: lightskyblue;
}